<form
  class="task-runner"
  [class.ng-submitted]="submitted"
  [formGroup]="form"
  (ngSubmit)="onSubmit(form)"
>
  <div class="d-flex justify-content-center align-items-center mt-3">
    <div
      class="col-auto d-flex justify-content-end align-items-center"
      *ngFor="let parameter of task.params"
    >
      <pinnakl-input
        *ngIf="parameter.name.toLowerCase() !== 'entityid'"
        [controlName]="parameter.name"
        [dropdownSource]="parameter.options"
        [form]="form"
        [label]="parameter.caption"
        [type]="parameter.type === 'list' ? 'dropdown' : parameter.type"
      >
      </pinnakl-input>
      <div *ngIf="parameter.name.toLowerCase() === 'entityid'">
        <entity-selector
          [entities]="entities"
          [filter]="{ tradeFileIndicator: true }"
          [formControlName]="parameter.name"
          [showAllOption]="true"
        >
        </entity-selector>
        <pnkl-validation
          [form]="form"
          [controlName]="parameter.name"
        ></pnkl-validation>
      </div>
    </div>
    <div class="col-auto">
      <button class="btn btn-success mb-4" type="submit">RUN</button>
    </div>
  </div>
</form>
