<div class="row no-gutters align-items-center flex-nowrap">
  <div class="col-auto">
    <img class="img-fluid pnl-image mr-3" src="assets/images/dashboard/pnl-percent.png" />
  </div>
  <div class="col-auto flex-grow-1">
    <div class="row no-gutters flex-column pr-3">
      <div class="col pnl-text-font">{{ pnlText }} P&L</div>
      <div class="col summary-text-font">
        {{ pnlValue | number: '1.0-2' }} %
      </div>
    </div>
  </div>
  <div [ngSwitch]="pnlText">
    <img class="img-fluid" *ngSwitchCase="'Daily'" src="assets/images/dashboard/graph.png" />
    <img class="img-fluid" *ngSwitchCase="'MTD'" src="assets/images/dashboard/graph-2.png" />
    <img class="img-fluid" *ngSwitchCase="'YTD'" src="assets/images/dashboard/graph-3.png" />
  </div>
</div>
