.section-container {
  border: 1px solid #e0e4e7;
}

.list-border-top {
  border-top: 1px solid #e0e4e7;
}

.list-item-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.position-summary-container-row {
  height: 152px;
}
