.section-container {
  border: 1px solid #e0e4e7;
}

.list-border-top {
  border-top: 1px solid #e0e4e7;
}

.pnl-list-item-container {
  padding-top: 8px;
  padding-bottom: 8px;
}

.icon-pinnakl-arrow-up {
  color: #39be68;
}

.icon-pinnakl-arrow-down {
  color: #e81a1a;
}

.pnl-container-row {
  height: 305px;
}

.icon-pinnakl-circle-empty {
  color: #c6cacd;
  font-size: 12px;
}
