<form novalidate [formGroup]="form">
  <div class="row">
    <div class="col-auto" *ngIf="showEntityTypeSelector">
      <pinnakl-input
        controlName="entityType"
        [dropdownSource]="entityTypes"
        [dropdownOptions]="{
          modelProperty: 'description',
          viewProperty: 'description'
        }"
        [form]="form"
        label="ENTITY TYPE"
        [required]="true"
        type="dropdown"
      >
      </pinnakl-input>
    </div>
    <div class="col-auto" [class.col-md-12]="!showEntityTypeSelector">
      <pinnakl-input
        controlName="entityId"
        [dropdownSource]="dropdownEntities"
        [dropdownOptions]="{
          modelProperty: 'id',
          viewProperty: 'entity'
        }"
        [form]="form"
        label="ENTITY"
        [required]="true"
        type="dropdown"
      >
      </pinnakl-input>
    </div>
  </div>
</form>
