@import '../../../../../../../libs/shared/src/lib/styles/_components/colors';

.container-fluid {
  margin-top: -20px;

  .title {
    color: $shark;
    font-weight: bold;
  }
}

.save-btn {
  color: $shark;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  background-color: $white;
  border-radius: 4px;
  border: solid 1px $ghost;

  //&:hover {
  //  background-color: $geyser;
  //}

  &-disabled {
    pointer-events: none;
    color: $lynch;
  }

  &.current-preset {
    width: calc(100% - 120px);
  }
}
