.border-payment-col {
  border: 1px solid;
  border-color: #d6d8da !important;
}

.confirmation-button-container {
  position: absolute;
  top: 40%;
  background-color: #f6f6f6;
  width: 400px;
  left: 40%;
  border: 1px solid #868282;
}
