.task-history-main {
  padding: 15px;
  background-color: #ffffff;
}

.task-history-row {
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.task-history-stats {
  margin-right: 5% !important;
}

.task-history-stats small {
  font-size: 18px !important;
}

.taskHistoryFormClass {
  margin-bottom: 20px;
}

.task-history-sub-heading {
  font-size: 14px;
  font-weight: 700;
}

.task-history-files-row a {
  color: #7e8c9e !important;
}

.accordion-task-history {
  justify-content: flex-start !important;
}

.accordion-task-history .task-history-stats {
  text-align: left !important;
  margin: 5px 0;
}

.accordion-task-history .task-history-stats small {
  font-size: 16px !important;
  margin-bottom: 0 !important;
}

.row-border {
  border-bottom: 1px solid #e4e9f0;
}
