.assets-type-list {
  li {
    margin-right: 15px;
  }
}
.security-add-image {
  vertical-align: middle;
  height: 10rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.add-security-container {
  max-width: 700px;
}

.toggle-radio-btn {
  width: 75px;
  display: flex;
  align-items: center;
  label {
    margin: 0 15px 0 5px;
  }
}
