.public-identifiers-card {
  background-color: white;
  margin: 1rem 0.25rem;
  padding: 1rem;
}

.font-size-15 {
  font-size: 15px;
}

.primary-market-indicator {
  margin-top: 0 !important;
  margin-left: -9rem;
  position: relative;
}

.p-b-4 {
  padding-bottom: 4rem;
}
