.action-container {
  border: 1px solid #e0e4e7;
  padding-top: 9px;
  padding-bottom: 9px;
}

.action-text {
  color: #7e8c9e;
}

.icon-pinnakl-ai-icon {
  font-size: 35px;
  color: #0307cd;
}

.action-container-row {
  height: 265px;
}

.pending-action-border-red {
  border-left: 3px solid #ec2e2e;
}
